<li><a href="/transactions">transaction table</a></li>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">category</th>
      <th scope="col">amount</th>
    </tr>
  </thead>
  <tbody id="categoryTable">
    <% transactions.forEach((transaction) => { %>
    <tr>
      <td><%= transaction._id %></td>
      <td><%= transaction.total %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
